#canvas-div {
  width: 80%;
  height: 80vh;
  margin: auto;
  margin-top: 10vh;
}

.tooltip-content {
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid gray;
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

.tooltip-content p {
  font-size: 12px;
  padding: 2px;
  margin: 0;
  text-align: center;
}
  
.slide-container {
  margin: auto;
  width: 80%;
}

.play-btn {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.play-btn:hover {
  transform: scale(1.1);
}

.slider {
  margin: auto;
  width: calc(100% - 140px);
  height: 15px;
  border-radius: 5px; 
  appearance: none;
  background: #d3d3d3; /* Grey background */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity .2s;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #e20074;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.25s ease;
}

.slider::-webkit-slider-thumb:hover {
  opacity: 1;
}

.date {
  margin-left: 10px;
  white-space: nowrap;
}

.slider:focus {
  outline: none;
}